$color-shadow: #babecc;
$color-white: #fff;
$color-bg: #ebecf0;

#main-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-timeline: --indicator;

  .scroller {
    margin: 1px 0 0 0;
    display: block;
    z-index: 3;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #8f41e9, #578aef) 1;
    animation-name: widthExpand;
    animation-duration: 1ms; /* Firefox需要设置这个*/
    animation-timeline: --indicator;
    position: fixed;
    top: 0;

    &::before {
      content: '';

    }
  }
}

@keyframes widthExpand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.basic-bottom {
  border-radius: 16px;
  padding: 4px 10px;
   font-family: inherit;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 191, 255, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  overflow: hidden;
  transition: all 0.2s;
  span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  i {
    display: block;
    transform-origin: center center;
    transition: all 0.3s ease-in-out;
  }
  &:hover i {
    transform: translateX(50px) rotate(45deg) scale(1.1);
  }
  &:hover {
    background: royalblue;
    cursor: pointer;
  }
  &:hover span {
    transform:  translateX(5em) ;
    opacity: 0;
  }
}
#canvas-container {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 1;
}

#page-container {
  position: relative;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;

}

.flex-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#transform-t {
  .introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 80%, #fad0c4 100%);
    //transition: transform 200ms ease;
  }
}

.eachContent {
  height: 100vh;
  width: 60vw;
  margin: 0 0 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .title {
    color: white;
    font-size: 24px;
    animation-timeline: view();
  }



  .introduction-container {
    width: 80%;
    height: 80%;
    perspective: 1000px;
    transform-style: preserve-3d;
    background: rgba(255, 255, 255, 1);
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;
    border-radius: 12px;

    .translate-font{
      color: white;
      font-size: 24px;
      line-height: 40px;
    }
    .translate-title{
      transform: translateZ(var(--translatevar));
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
    color: #ffeb3b;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffeb3b, 0 0 35px #ffeb3b, 0 0 40px #ffeb3b, 0 0 50px #ffeb3b, 0 0 75px #ffeb3b;
  }
}
.inset-container {
  height: 80vh;
  border-radius: 12px;
  background: $color-bg;
  .shadow-font{
    color: $color-shadow;
  }
}
.error-page{
  height: 80vh;
  background: #673ab7;
}
.error-page:hover{
  filter: url(#fe1);
}
.blur-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //
  //backdrop-filter: blur(5px);
  height: 80vh;
  transform-style: preserve-3d;

  mask: linear-gradient(var(--angle), rgba(255, 255, 255, .8), #fff);
  transition: all 0.3s, --angle 0.3s;
}

.title {

}

.fe1 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #673ab7;
  cursor: pointer;
  transform: translateZ(0);
  outline: 200px solid transparent;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  transform-style: preserve-3d;
  perspective: 500px;
  cursor: pointer;
  background: #000;
}

#card-element {
  margin: auto;
  width: 250px;
  height: 400px;
  background: linear-gradient(45deg, black, deeppink, #6006ff);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all .1s;
}

#g-img {
  --per: 30%;
  position: relative;
  width: 100%;
  height: 100%;
  background: url('/img/card/JAINA.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  filter: brightness(1.2);
  
  &::after {
      content: "";
      display: none;
      position: absolute;
      inset: 0;
      border-radius: 10px;
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
      mix-blend-mode: color-dodge;
  }
  
  &::before {
      content: "";
      display: none;
      position: absolute;
      // border: 1px solid #999;
      inset: 0;
      border-radius: 10px;
      background: 
          linear-gradient(
              115deg, 
              transparent 0%, 
              rgba(255, 255, 255, 0.7) var(--per), 
              rgba(0, 0, 0, .6) calc(var(--per) + 25%), 
              rgba(255, 255, 255, .5) calc(var(--per) + 50%), 
              transparent 100%
          );
      mix-blend-mode: color-dodge;
  }
  
  &:hover::after,
  &:hover::before {
      display: block;
  }
}